body{
    background-image: url("/Users/mericyndaunis/Downloads/connectwork/connectwork.png");
    background-size: 100px;
}


.nav{
    color:white;
    position: absolute;
    display: flex;
    justify-content: left;
    font-family: Georgia;
    margin: 0;
    
}
.card-title{
    text-align: center;
}
.card-header{
    border-top: solid gray;
}
ul {
    color:white;
    style: gray;
}
#shows{
    border: solid gray;
    margin-top: 100px;
}
.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.card-header.bg-dark{
    color:white;
}

.body{
    text-align: left;
    padding: 100px 100px 100px 100px;
}

#accordionExample{
    width: 50vw;
    height: 50vw;
    margin-top:100px;
    
}

img{
    width: 300px ;
    max-width: 100% ;
    height: 580px;
}
#tab1{
    background-image: url("/Users/mericyndaunis/Downloads/mollysbanddesktop.jpg");
    background-size:cover;
    background-position: fixed;
    background-repeat: no-repeat;
    color:white;
}
#tab2{    
    background-image: url("/Users/mericyndaunis/Downloads/kyle-ashton-fKwaa6VdG_Y-unsplash.jpg");
    background-size:cover;
    background-position: fixed;
    background-repeat: no-repeat;
    color:white;
}
#tab3{    
    background-image: url("/Users/mericyndaunis/Downloads/joel-muniz-DymXDIAWlDk-unsplash.jpg");
    background-position: fixed;
    background-size:cover;
    background-repeat: no-repeat;
    color:white;
}


blockquote{
padding: 100px;
}

footer{
    margin: 100px 100px 100px 100px;
}

@media (max-width: 480px) { 
   
   
    #tab2{
    background-image: url("/Users/mericyndaunis/Downloads/kyle-ashton-fKwaa6VdG_Y-unsplashMobile.jpeg");
    background-repeat: no-repeat;
    background-size: contain ;
}
#tab3{

    background-image: url("/Users/mericyndaunis/Downloads/joel-muniz-DymXDIAWlDk-unsplash-mobile.jpg");
    background-repeat: no-repeat;
    background-size: contain ;
}


}

@media (min-width: 481px) {
    
